@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card{
        width:320px;
        background: #EBEBEB;
        border-radius:10px;
        border:none;
    }
    .card:hover{
        box-shadow: 10px 10px 20px #676666;
            transition-delay: 100ms;
            transition-duration: 200ms;
            cursor:pointer;
    }
    .card-image
    {
        margin: 17px auto;
        border-radius: 10px;
        width:285px;
        height:auto;
    }
    .image{
        border-radius: 10px;
    }
    .sec{
        display:flex;
        margin: 0 17px;
        align-items: center;
        padding-bottom: 20px;
        justify-content: space-between;
    }
    .describe {
        flex-basis: 60%;
    }
    .describe p {
       margin:0;
    }
    .describe .active {
        color: #A83A3A;
    }
    .describe2{
        background: #F4A7A7;
        color: #A83A3A;
        width:71px;
        height:45px;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        margin-right:0;
        font-weight: bold;
    }
    .describe2:hover {
        background: #A83A3A;
        color: #F4A7A7;
            transition-delay: 100ms;
            transition-duration: 100ms;
            cursor: pointer;
    }
    .grid{
       display:flex;
       flex-direction:row;
        flex-wrap: wrap;
        justify-content:center;
       align-items:center;
       margin-bottom:60px;
        gap: 50px;
    }
</style>
<p style="text-align:center">scroll and hover</p>
<div class="grid">
    <div class="card">
        <div class="card-image">
            <img class="image" src="~/images/car1/1.jpg" style="width:100%" />
        </div>
        <div class="sec">
            <div class="describe">
                <p>2020 Toyota Yaris</p>
                <p class="active">฿452,000</p>
            </div>
            <a class="navbar-brand describe2" asp-area="" asp-controller="Home" asp-action="Car01">
               &#8594;
            </a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-image">
            <img class="image" src="~/images/car2/1.jpg" style="width:100%" />
        </div>
        <div class="sec">
            <div class="describe">
                <p>2019 Toyota Yaris</p>
                <p class="active">฿430,000</p>
            </div>
            <a class="navbar-brand describe2" asp-area="" asp-controller="Home" asp-action="Car02">
                &#8594;
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img class="image" src="~/images/car3/1.jpg" style="width:100%" />
        </div>
        <div class="sec">
            <div class="describe">
                <p>2018 Toyota Yaris</p>
                <p class="active">฿398,000</p>
            </div>
            <a class="navbar-brand describe2" asp-area="" asp-controller="Home" asp-action="Car03">
                &#8594;
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img class="image" src="~/images/car4/1.jpg" style="width:100%" />
        </div>
        <div class="sec">
            <div class="describe">
                <p>2017 Toyota Yaris</p>
                <p class="active">฿406,900</p>
            </div>
            <a class="navbar-brand describe2" asp-area="" asp-controller="Home" asp-action="Car04">
                &#8594;
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img class="image" src="~/images/car5/1.jpg" style="width:100%" />
        </div>
        <div class="sec">
            <div class="describe">
                <p>2016 Toyota Yaris</p>
                <p class="active">฿351,000</p>
            </div>
            <a class="navbar-brand describe2" asp-area="" asp-controller="Home" asp-action="Car05">
                &#8594;
            </a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-image">
            <img class="image" src="~/images/car6/1.jpg" style="width:100%" />
        </div>
        <div class="sec">
            <div class="describe">
                <p>2015 Toyota Yaris</p>
                <p class="active">฿362,000</p>
            </div>
            <a class="navbar-brand describe2" asp-area="" asp-controller="Home" asp-action="Car06">
               &#8594;
            </a>
        </div>
    </div>
</div>
