html {
  font-size: 20px;
}

.navbar {
    background: #a83a3a;
    text-align:center;
}

.navbar-brand {
    text-align: center;

}
.navbar-flex {
    text-align: center;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20px;
}